@use './variables'as v;
@use './mixins'as m;


.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input {
    outline: none;
    border-radius: .5rem;
    padding: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 1.5;
    color: v.$black;
    background-color: v.$white;
    background-clip: padding-box;
    border: solid 1px v.$gray;
    transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &:hover {
        box-shadow: 0 0 5px rgba(34, 31, 74, 0.3)
    }

}

.form {
    background-color: v.$white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 3rem 2rem;
    width: 35rem;
    max-width: 40rem;
    min-width: 30rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    @include m.phone {
        width: 40rem;
        min-width: 35rem;
    }
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;


}


.blur {
    width: 100%;
    height: 100%;
    filter: blur(7px);
    z-index: 0;
    position: absolute;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/*************************
 * --------------------- *
 *************************/