// Fuentes
$fontPrincipal: 'Raleway',
sans-serif;


// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #21719E;
$secondary: #43CCA2;
$black: #111111;
$dark: #040F14;
$dark3: #0B181D;
$dark2: #131F24;
$gray: #343A40;
$gray2: #CCCCCC;
$dar4: #1E2629;
$dark5: #2C2C2C;
$dar6: #3E4D54;
$white: #FFFFFF;

$pink: #e819ef;
$green: #67dc1e;
$skyblue: #00fffc;
$orange: #FF4500;
$orange2: orangered;
$orange3: #FF6408;

$lightTxt: #B3EFFF;
$brightTxt: #00CFFF;
$mediumTxt: #046B99;
$darkTxt: #1C304A;
$blackTxt: #000000;

//colores de bootsrap 
//$primary: #007bff;
//$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$danger2:rgb(145, 58, 67)5;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
//$dark: #343a40;