@use '../scss/base/variables'as v;
@use '../scss/base/mixins'as m;

.view {
    //min-width: 20rem;
    //max-height: 100%;
    height: auto;
    min-height: 60rem;
    //margin: 2rem;
    
    background-color: v.$white;
    margin: 0 auto;



    border-radius: 1rem;
    box-shadow: 0px 0px 12px v.$brightTxt;
    background-color: transparent;
    position: relative;
    z-index: 2;
    transition: width 0.3s ease;
    color: v.$white;

    //background-color: red;


    @include m.tablet {
        display: flex;
        flex-direction: row;
        padding: 5rem;
        min-height: 40rem;
        height: 50rem;

    }

    @include m.desktop {
        max-width: 80rem;
    }

    &__containerBtn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 0 0 1rem;

        padding-top: 1rem;

        @include m.tablet {
            margin: 0 0 0 1rem;
            padding-top: 0rem;
        }

        &:hover {
            background-color: darken($color: v.$primary, $amount: 4);
            border-radius: 1rem;
        }
    }

    &__back {
        width: 5rem;
        height: 4rem;
        background-color: transparent;
        border: none;
        margin: 0;

    }




    &__header {


        @include m.tablet {
            margin-right: 5rem;
        }
    }

    &__title {
        color: v.$dark;
        font-size: 2.6rem;

        width: auto;
        width: 100%;


        color: v.$white;
    }

    &__img {
        width: 20rem;
        height: 20rem;
        outline: 0 0 15px rgb(0 0 0/0.4);
        filter: drop-shadow(0 0 10px v.$brightTxt);
        margin: 0 auto;

    }

}