@use '../scss/base/variables'as v;
@use '../scss/base/mixins'as m;

.view {
    min-width: 20rem;
    min-height: 60rem;
    height: 100%;
    background-color: v.$white;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px v.$brightTxt;
    background-color: transparent;
    position: relative;
    z-index: 2;
    transition: width 0.3s ease;
    color: v.$white;
    display: flex;
    flex-direction: column;



    @include m.tablet {
        display: flex;
        flex-direction: row;
        padding: 5rem;
    }

    @include m.desktop {
        max-width: 80rem;
    }


    &__header {


        @include m.tablet {
            margin-right: 5rem;
        }
    }

    &__title {
        color: v.$dark;
        font-size: 2.6rem;
        text-align: center;
        margin: 2rem 0 0 0;
        border-bottom: 1px solid rgb(0 0 0 /0.2);
        width: auto;
        width: 100%;
        padding: 1rem;
        margin: 0;
        color: v.$white;
    }

    &__img {
        width: 20rem;
        height: 20rem;
        outline: 0 0 15px rgb(0 0 0/0.4);
        filter: drop-shadow(0 0 10px v.$brightTxt);
        margin: 0 auto;

    }

}