@use '../scss/base/mixins'as m;
@use '../scss/base/variables'as v;

.combo {
    position: relative;
    display: inline-block;
    width: 100%;

    &::after {
        content: '\25BC';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &__select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        font-size: 16px;
        color: #555;
        cursor: pointer;

        &:focus {
            outline: none;
            border-color: #007bff;
        }

        &__opt {}
    }
}