@use '../scss/base/variables'as v;

.layout {
    background-image: linear-gradient(to right, #1A5F9D, #43CDA2);
    height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}